<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootscoder.shopping_goods_service.mapper.GoodsMapper">
    <insert id="addGoodsSpecificationOption">
        INSERT INTO boots_goods_specification_option VALUES (#{gid},#{optionId})
    </insert>
    <delete id="deleteGoodsSpecificationOption" parameterType="long">
        DELETE FROM boots_goods_specification_option WHERE gid = #{gid}
    </delete>
    <update id="putAway">
        UPDATE boots_goods SET isMarketable = #{isMarketable} WHERE id = #{id}
    </update>
    <resultMap id="goodsMapper" type="com.bootscoder.shopping_common.pojo.Goods">
        <id property="id" column="bid"></id>
        <result property="goodsName" column="goodsName"></result>
        <result property="caption" column="caption"></result>
        <result property="price" column="price"></result>
        <result property="headerPic" column="headerPic"></result>
        <result property="isMarketable" column="isMarketable"></result>
        <result property="introduction" column="introduction"></result>
        <result property="brandId" column="brandId"></result>
        <result property="productType1Id" column="productType1Id"></result>
        <result property="productType2Id" column="productType2Id"></result>
        <result property="productType3Id" column="productType3Id"></result>
        <collection property="images" column="bid" ofType="com.bootscoder.shopping_common.pojo.GoodsImage">
            <id property="id" column="imageId"></id>
            <result property="imageTitle" column="imageTitle"></result>
            <result property="imageUrl" column="imageUrl"></result>
        </collection>
        <collection property="specifications" column="bid" ofType="com.bootscoder.shopping_common.pojo.Specification">
            <id property="id" column="specificationId"></id>
            <result property="specName" column="specName"></result>
            <result property="productTypeId" column="productTypeId"></result>
            <collection property="specificationOptions" column="specificationId" ofType="com.bootscoder.shopping_common.pojo.SpecificationOption">
                <id property="id" column="optionId"></id>
                <result property="optionName" column="optionName"></result>
            </collection>
        </collection>
    </resultMap>
    <select id="findById" parameterType="long" resultMap="goodsMapper">
        SELECT
            boots_goods.id AS bid,
            boots_goods.goodsName AS goodsName,
            boots_goods.caption AS caption,
            boots_goods.price AS price,
            boots_goods.headerPic AS headerPic,
            boots_goods.introduction AS introduction,
            boots_goods.isMarketable AS isMarketable,
            boots_goods.brandId AS brandId,
            boots_goods.productType1Id AS productType1Id,
            boots_goods.productType2Id AS productType2Id,
            boots_goods.productType3Id AS productType3Id,
            boots_goods_image.id AS imageId,
            boots_goods_image.imageTitle AS imageTitle,
            boots_goods_image.imageUrl AS imageUrl,
            boots_specification.id AS specificationId,
            boots_specification.specName AS specName,
            boots_specification.productTypeId AS productTypeId,
            boots_specification_option.id AS optionId,
            boots_specification_option.optionName AS optionName
        FROM
            boots_goods
                LEFT JOIN boots_goods_image ON boots_goods.id = boots_goods_image.goodsId
                LEFT JOIN boots_goods_specification_option ON boots_goods.id = boots_goods_specification_option.gid
                LEFT JOIN boots_specification_option ON boots_goods_specification_option.optionId = boots_specification_option.id
                LEFT JOIN boots_specification ON boots_specification_option.specId = boots_specification.id
        WHERE
            boots_goods.id = #{gid}
    </select>


    <resultMap id="goodsDescMapper" type="com.bootscoder.shopping_common.pojo.GoodsDesc">
        <id property="id" column="bid"></id>
        <result property="goodsName" column="goodsName"></result>
        <result property="caption" column="caption"></result>
        <result property="price" column="price"></result>
        <result property="headerPic" column="headerPic"></result>
        <result property="isMarketable" column="isMarketable"></result>
        <result property="introduction" column="introduction"></result>
        <association property="brand" column="brandId" javaType="com.bootscoder.shopping_common.pojo.Brand">
            <id property="id" column="brandId"></id>
            <result property="name" column="brandName"></result>
        </association>
        <association property="productType1" column="type1Id" javaType="com.bootscoder.shopping_common.pojo.ProductType">
            <id property="id" column="type1Id"></id>
            <result property="name" column="type1Name"></result>
            <result property="level" column="type1Level"></result>
            <result property="parentId" column="type1parentId"></result>
        </association>
        <association property="productType2" column="type2Id" javaType="com.bootscoder.shopping_common.pojo.ProductType">
            <id property="id" column="type2Id"></id>
            <result property="name" column="type2Name"></result>
            <result property="level" column="type2Level"></result>
            <result property="parentId" column="type2parentId"></result>
        </association>
        <association property="productType3" column="type3Id" javaType="com.bootscoder.shopping_common.pojo.ProductType">
            <id property="id" column="type3Id"></id>
            <result property="name" column="type3Name"></result>
            <result property="level" column="type3Level"></result>
            <result property="parentId" column="type3parentId"></result>
        </association>
        <collection property="images" column="bid" ofType="com.bootscoder.shopping_common.pojo.GoodsImage">
            <id property="id" column="imageId"></id>
            <result property="imageTitle" column="imageTitle"></result>
            <result property="imageUrl" column="imageUrl"></result>
        </collection>
        <collection property="specifications" column="bid" ofType="com.bootscoder.shopping_common.pojo.Specification">
            <id property="id" column="specificationId"></id>
            <result property="specName" column="specName"></result>
            <result property="productTypeId" column="productTypeId"></result>
            <collection property="specificationOptions" column="specificationId" ofType="com.bootscoder.shopping_common.pojo.SpecificationOption">
                <id property="id" column="optionId"></id>
                <result property="optionName" column="optionName"></result>
            </collection>
        </collection>
    </resultMap>
    <select id="findAll" resultMap="goodsDescMapper">
        SELECT
            boots_goods.id bid,
            boots_goods.goodsName goodsName,
            boots_goods.caption caption,
            boots_goods.price price,
            boots_goods.headerPic headerPic,
            boots_goods.introduction introduction,
            boots_goods.isMarketable isMarketable,
            boots_goods.brandId brandId,
            boots_brand.`name` brandName,
            type1.id type1Id,
            type1.`name` type1Name,
            type1.level type1Level,
            type1.parentId type1parentId,
            type2.id type2Id,
            type2.`name` type2Name,
            type2.level type2Level,
            type2.parentId type2parentId,
            type3.id type3Id,
            type3.`name` type3Name,
            type3.level type3Level,
            type3.parentId type3parentId,
            boots_goods_image.id imageId,
            boots_goods_image.imageTitle imageTitle,
            boots_goods_image.imageUrl imageUrl,
            boots_specification.id specificationId,
            boots_specification.specName specName,
            boots_specification.productTypeId productTypeId,
            boots_specification_option.id optionId,
            boots_specification_option.optionName optionName
        FROM
            boots_goods,
            boots_goods_image,
            boots_brand,
            boots_specification,
            boots_specification_option,
            boots_goods_specification_option,
            boots_product_type AS type1,
            boots_product_type AS type2,
            boots_product_type AS type3
        WHERE boots_goods.id = boots_goods_specification_option.gid
          AND boots_goods_specification_option.optionId = boots_specification_option.id
          AND boots_specification_option.specId = boots_specification.id
          AND boots_goods.brandId = boots_brand.id
          AND boots_goods.id = boots_goods_image.goodsId
          AND boots_goods.productType1Id = type1.id
          AND boots_goods.productType2Id = type2.id
          AND boots_goods.productType3Id = type3.id
    </select>

    <select id="findDesc" resultMap="goodsDescMapper">
        SELECT
            boots_goods.id bid,
            boots_goods.goodsName goodsName,
            boots_goods.caption caption,
            boots_goods.price price,
            boots_goods.headerPic headerPic,
            boots_goods.introduction introduction,
            boots_goods.isMarketable isMarketable,
            boots_goods.brandId brandId,
            boots_brand.`name` brandName,
            type1.id type1Id,
            type1.`name` type1Name,
            type1.level type1Level,
            type1.parentId type1parentId,
            type2.id type2Id,
            type2.`name` type2Name,
            type2.level type2Level,
            type2.parentId type2parentId,
            type3.id type3Id,
            type3.`name` type3Name,
            type3.level type3Level,
            type3.parentId type3parentId,
            boots_goods_image.id imageId,
            boots_goods_image.imageTitle imageTitle,
            boots_goods_image.imageUrl imageUrl,
            boots_specification.id specificationId,
            boots_specification.specName specName,
            boots_specification.productTypeId productTypeId,
            boots_specification_option.id optionId,
            boots_specification_option.optionName optionName
        FROM
            boots_goods,
            boots_goods_image,
            boots_brand,
            boots_specification,
            boots_specification_option,
            boots_goods_specification_option,
            boots_product_type AS type1,
            boots_product_type AS type2,
            boots_product_type AS type3
        WHERE boots_goods.id = boots_goods_specification_option.gid
          AND boots_goods_specification_option.optionId = boots_specification_option.id
          AND boots_specification_option.specId = boots_specification.id
          AND boots_goods.brandId = boots_brand.id
          AND boots_goods.id = boots_goods_image.goodsId
          AND boots_goods.productType1Id = type1.id
          AND boots_goods.productType2Id = type2.id
          AND boots_goods.productType3Id = type3.id
          AND boots_goods.id = #{id}
    </select>
</mapper>